body
    background-color #f5f6fa
    font-size 14px
    font-family: 'Roboto', sans-serif;

h1,h3,,h4,h5,ul,body,html
    padding 0px
    margin 0px

.mtop16
    margin-top 16px

.wrapper
    min-height 100vh
    overflow hidden
    .col1
        float left
        position relative
        z-index 999 //conmponente eje z
        width 17%
    .col2
        float left
        width 83%
.sidebar
    background-color #FFF
    min-height 100vh
    .section-top
        background-color #3498DB
        box-shadow 0 0.15rem 0.5rem rgb(0,0,0,0.15)
    .logo
        display block
        margin 0px auto
        padding-top 5px
        width 90%
    .user
        color #FDFEFE //im !important
        padding 16px
        a
            color #0f0f0f
            font-size 1.2em

.main
    display block
    margin-top 8px
    ul
        li
            margin-bottom 4px
            a
                color #85929E //im !important
                display block
                font-size 1.1em
                padding 12px 12px
                i
                    margin-right 10px
                &:hover
                    background-color #3498DB
                    box-shadow 0 0.15rem 0.5rem rgb(0,0,0,0.15)
                    color #FFF
                    text text-decoration none

.navbar
    background-color #3498DB
    a
        color #FFF

.page
    padding-top 16px
    padding-bottom 16px
    .breadcrumb
        background-color #FFF
        .breadcrumb-item
            a
                &:hover
                    text-decoration none 
    .panel
        background-color #FFF
        border-radius 6px
        border-bottom 2px solid #3498db
        width 100%
        .header
            border-bottom 1px solid #e8e8e8
            h2.title
                display inline-block
                //color #1921d3
                font-size 1.1em
                padding 12px 16px
        .inside
            padding 16px

.opts
    a
        border-radius 4px
        border 1px solid #AEB6BF
        display inline-block
        padding 8px 12px

