body
    //ackground-color #f6f6f6
    background-image url('/css/udenar.jpg')
    margin 0px
    font-size 14px

.mtop16
    margin-top 16px

.box
    background-color #fff
    border-radius 8px
    border 1px solid #d6d6d6

    width 500px
    position absolute
    .form-control
        &:focus
        &:active
            outline none
            box-shadow none
    .inside
        padding 16px
    .header
        border-radius 8px 8px 0px 0px
        padding 16px
        a
            img
                width 50%
                display block
                margin 0px auto
                //top calc(33%)

    .footer
        text-align center
        a
            display inline-block
            font-size .9em
            &:last-child
                margin-left 20px

.box.box_login
    left calc(33%)
    top calc(15%)

.box.box_register
    left calc(33%)
    //top calc(5%)
    

.btn-success 
    width 100%
    background-color #3498DB
    border 0px





